:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  width:90vw;
  height:90vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border:0px solid #000;
}

.logo {
  height: 3.5em;
  padding: 0.5em 0.5em 0 0;
  will-change: filter;
  transition: filter 300ms;
  display:inline;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.logo-text{
  font-size: 2.2em;
  line-height: 4em;
	display:inline;
	vertical-align: super;
}

.frame {
  border:2px solid #d7d8da;
  border-radius:10px 10px 10px 10px;
  width:100%;
  height:45vh;
  border-style:dashed;
  background:#f4f5f8;
}

.peers{
	border:0px solid green;
	padding:5px 5px 5px 5px;
}

.peer{
	background:white;
	width:100px;
	height:100px;
	display:inline-block;
	padding:5px 5px;
	margin:5px 5px;
}

.device{
	width:75px;
	height:75px;
	border-radius:50% 50% 50% 50%;
	background:white;
	margin: auto;
	padding:5px;
	border: 1px solid grey
}

.device-name{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.device-avatar{
	width:100%;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width:100%;
  height:100%;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  /*outline: 4px auto -webkit-focus-ring-color;*/
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
