:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  width:90vw;
  height:90vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border:0px solid #000;
}

.logo {
  height: 3.5em;
  padding: 0.5em 0.5em 0 0;
  will-change: filter;
  transition: filter 300ms;
  display:inline;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.logo-text{
  font-size: 2.2em;
  line-height: 4em;
	display:inline;
	vertical-align: super;
}

.frame {
  border:2px solid #d7d8da;
  border-radius:10px 10px 10px 10px;
  width:100%;
  height:45vh;
  border-style:dashed;
  background:#f4f5f8;
}

.peers{
	border:0px solid green;
	padding:5px 5px 5px 5px;
}

.peer{
	background:white;
	width:100px;
	height:100px;
	display:inline-block;
	padding:5px 5px;
	margin:5px 5px;
}

.device{
	width:75px;
	height:75px;
	border-radius:50% 50% 50% 50%;
	background:white;
	margin: auto;
	padding:5px;
	border: 1px solid grey
}

.device-name{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align:center;
}

.device-avatar{
	width:100%;
}

.read-the-docs {
  color: #888;
}

.sendto-list .peer{
	cursor:pointer;
}

.sendto{
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	z-index: 50;
	align-items: center;
	justify-content: center;
	display: flex;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	border:1px solid grey;
}

#parax,#explorerx{
	width:30px;
	height:30px;
	background:none;
	position:fixed;
	top:0px;
	right:0px;
	border-radius:50% 50% 50% 50%;
	margin:3px 3px;
	cursor:pointer;
	align-text:center;
}

.popup{
	border-radius: 0em;
	margin: 0px 0px;
	height: 50%;
	width: 80vw;
	object-fit: contain;
	background-image:none;
	background:#fff;
	border:none;
	display:flex;
	place-items:center;
	flex-direction: column;
}

.popup .title{
	width:100%;
	border:1px solid grey;
}

.scroller{
	display:flex;
	width:100%;
	height:100%;
	background:none;
	overflow:scroll;
}

.sendto-list{
	justify-content: center;
}

.explorer{
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	z-index: 40;
	align-items: center;
	justify-content: center;
	display: none;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	border:1px solid grey;
}

.files{
	flex-direction: column;
	align-items:center;
}

.file{
	width:90%;
	max-width:600px;
	background:grey;
	height:50px;
	margin:5px 5px;
}

.file .icon{
	background:none;
	float:left;
}

.file .icon div{
	display: flex;
    justify-content: center;
    align-items: center;
}

.file .icon img{
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(145deg) brightness(105%) contrast(105%);
	width:30px;
}

.file .body{
	background:none;
	max-width:100%;
	position:relative;
}

.file .body .name{
	color:#fff;
	font-weight:bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.file .body .meta{
	font-size:0.8em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
}

.file .loader{
	background:none;
	float:right;
}

.file .loader div{
	display: flex;
    justify-content: center;
    align-items: center;
}

.file .loader .progress{
	color:#fff;

}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width:100%;
  height:100%;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  /*outline: 4px auto -webkit-focus-ring-color;*/
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
