Package: wifidrop
Version: 0.0.8
Section: utils
Priority: optional
Architecture: all
Depends: bash
Maintainer: Nuzulul Zulkarnain <https://nuzulul.github.io>
Description: Local peer-to-peer file transfer via WIFI
Homepage: https://wifidrop.js.org
