:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  width:90vw;
  height:90vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border:0px solid #000;
}

.logo {
  height: 3.5em;
  padding: 0.5em 0.5em 0 0;
  will-change: filter;
  transition: filter 300ms;
  display:inline;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.logo-text{
  font-size: 2.2em;
  line-height: 4em;
	display:inline;
	vertical-align: super;
}

.frame {
  border:2px solid #d7d8da;
  border-radius:10px 10px 10px 10px;
  width:100%;
  height:45vh;
  border-style:dashed;
  background:#f4f5f8;
}

.peers{
	border:0px solid green;
	padding:5px 5px 5px 5px;
}

.peer{
	background:none;
	width:100px;
	height:100px;
	display:inline-block;
	padding:5px 5px;
	margin:5px 5px;
}

.peer{
	cursor:pointer;
}

.peer.me .radar{
	position:relative;
	height:150px;
	width:150px;
	background:none;
	top:-142px;
	left:-25px;
	z-index:-2;
	border-radius:50% 50% 50% 50%;
}

.varian{
	width:1em;
	height:1em;
	display:inline-block;
	background:#fff;
	border-radius:50% 50% 50% 50%;
	margin-right:3px;
}

svg#radar-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0; bottom: 0;
  left: 0;
  right: 0;
  z-index:-1;
  border-radius:50% 50% 50% 50%;
}

.device{
	width:75px;
	height:75px;
	border-radius:50% 50% 50% 50%;
	background:white;
	margin: auto;
	padding:5px;
	border: 1px solid grey
}

.device-name{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align:center;
	display:flex;
    justify-content: center;
    align-items: center;
}

.device-avatar{
	width:100%;
}

.read-the-docs {
  color: #888;
}

.sendto-list .peer{
	cursor:pointer;
}

.dialog{
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	align-items: center;
	justify-content: center;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	border:1px solid grey;
}

.sendto{
	display: flex;
	z-index: 50;
}

#parax,#explorerx{
	width:30px;
	height:30px;
	background:none;
	position:fixed;
	top:0px;
	right:0px;
	border-radius:50% 50% 50% 50%;
	margin:3px 3px;
	cursor:pointer;
	align-text:center;
}

.popup{
	border-radius: 0em;
	margin: 0px 0px;
	height: 50%;
	width: 80vw;
	object-fit: contain;
	background-image:none;
	background:#fff;
	border:none;
	display:flex;
	place-items:center;
	flex-direction: column;
}

.popup .title{
	width:100%;
	border:1px solid grey;
}

.scroller{
	display:flex;
	width:100%;
	height:100%;
	background:none;
	overflow:scroll;
}

.sendto-list{
	justify-content: center;
}

.explorer{	
	display: none;
	z-index: 40;
}

.files{
	flex-direction: column;
	align-items:center;
}

.file{
	width:90%;
	max-width:600px;
	background:#646cff;
	height:50px;
	margin:5px 5px;
}

.file .icon{
	background:none;
	float:left;
}

.file .icon div{
	display: flex;
    justify-content: center;
    align-items: center;
}

.file .icon img{
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(145deg) brightness(105%) contrast(105%);
	width:30px;
}

.file .body{
	background:none;
	max-width:100%;
	position:relative;
}

.file .body .name{
	color:#fff;
	font-weight:bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.file .body .meta{
	font-size:0.8em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
}

.file .loader{
	background:none;
	float:right;
}

.file .loader div{
	display: flex;
    justify-content: center;
    align-items: center;
}

.file .loader .progress{
	color:#fff;

}

.offer{	
	display: flex;
	z-index: 60;
}

.dialog .message{
	border-radius: 0em;
	margin: 0px 0px;
	height: auto;
	max-width: 250px;
	object-fit: contain;
	background-image:none;
	background:#fff;
	border:none;
	display:flex;
	place-items:center;
	flex-direction: column;
}

.dialog .message .title{
	width:100%;
	border:1px solid grey;
}

.dialog .message .content{
	justify-content: center;
	padding:15px 15px;
}

.answer,.options,.clipboard{	
	display: flex;
	z-index: 70;
}

.clipboard .message{
	max-width:none;
}

.answer .footer,.clipboard .footer{
	padding:5px 5px;
}

.answer button,.clipboard button{
	width:auto;
}

.dialog.options .message{
	max-width:500px;
}

.options .content .item {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  cursor:pointer;
  display:block;
  margin:10px 10px;
}

.options .content .item input,.options .content .item label{
	cursor:pointer;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width:100%;
  height:100%;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  /*outline: 4px auto -webkit-focus-ring-color;*/
}

.attribution{
	margin-top:50px;
	font-size:0.7em;
}



/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
